.slide {
	width: 100%;
	min-height: 300px;
	max-height:300px;
	margin-bottom: 365px;
}
.slide-container{
	display: flex;
	align-items: center;
	justify-content: center;
	max-height:300px;
}
.main-slide img{
	border-radius: 30px;
	border: 1px solid;
	border-color: #8cbf41;	
}
#axis:hover .move-left {
    transform: translate(-350px,0);
    -webkit-transform: translate(-350px,0); /** Safari & Chrome **/
    -o-transform: translate(-350px,0); /** Opera **/
    -moz-transform: translate(-350px,0); /** Firefox **/
}
.object {
	position: relative;
	left: 200px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 1s ease-in-out; /** Firefox **/
    -o-transition: all 1s ease-in-out; /** Opera **/
}